$text: #555555;	
$blue: #0674ec;
$purple: #7347c1;
$yellow: #feb71d;
$sky: #58c9e9;
$green: #77de51;
$pink: #ff6a6d;

.blue {
  color: #0674ec;
}
.purple {
  color: #7347c1;
}
.yellow {
  color: #feb71d;
}
.sky {
  color: #58c9e9;
}
.green {
  color: #77de51;
}
.pink {
  color: #ff6a6d;
}