@import 'vars';
@import 'global';
@import 'fonts';
@import 'media';

// Heaedr
.header {
  &__top {
    background-color: #eef1f3;
  }
  &__inner {
    height: 100px;
    align-items: center;
    justify-content: flex-end;
  }
  &__logo {
    margin-left: 7px;
    margin-top: 3px;
    margin-right: auto;
  }
  &__seller {
    margin-right: 36px;
    min-width: 140px;
    min-height: 36px;
  }
  &__icon {
    display: block;
    font-size: 20px;
    color: #7e8fa1;
    position: relative;
    &:hover {
      color: $blue;
      transform: scale(1.2);
      text-decoration: none;
    }
    &:focus {
      color: $blue;
      transform: scale(1.2);
      text-decoration: none;
    }
    &-box {
      height: 100%;
      margin-right: 30px;
    }
    &-alarm {
      padding: 40px 13px;
      position: relative;
      z-index: 3;
      &:hover .header__dropdown {
        display: block;
        top: 92px;
        right: 0;
        &::after {
          content: url(../img/poligon.png);
          position: absolute;
          top: -32px;
          right: -10px;
        }
      }
    }
    &-envelope {
      padding: 38px 17px;
      position: relative;
      z-index: 3;
      &:hover .header__dropdown {
        display: block;
        top: 92px;
        right: 0;
        &::after {
          content: url(../img/poligon.png);
          position: absolute;
          top: -32px;
          right: -5px;
        }
      }
    }
    &-cart {
      padding: 39px 16px;
      position: relative;
      z-index: 3;
      &:hover .header__dropdown {
        display: block;
        top: 92px;
        right: 0;
        &::after {
          content: url(../img/poligon.png);
          position: absolute;
          top: -32px;
          right: -5px;
        }
      }
    }
    &-notification {
      height: 22px;
      justify-content: center;
      align-items: center;
      padding: 0 7px;
      font-family: "Quicksand";
      font-weight: 500;
      border-radius: 20px;
      color: #fff;
      font-size: 14px;
      font-weight: 500;
      position: absolute;
      &-red {
        background-color: #ff6a6c;
        bottom: 54px;
        right: -2px;
      }
      &-green {
        background-color: #62d03b;
        bottom: 54px;
        right: 2px;
      }
      &-blue {
        background-color: #0674ec;
        bottom: 54px;
        right: 0px;
      }
    }
  }
}
.user {
  position: relative;
  min-height: 100%;
  align-items: center;
  &:hover .header__dropdown {
    display: block;
    top: 100px;
    right: 0;
    &::after {
      content: url(../img/poligon.png);
      position: absolute;
      top: -32px;
      right: 0;
    }
  }
  &__info {
    flex-direction: column;
    justify-content: center;
  }
  &__image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    &-wrapper {
      margin-right: 19px;
    }
  }
  &__name {
    max-width: 150px;
    color: #333;
    font-weight: 500;
    margin-top: 2px;
    text-transform: capitalize;
  }
  &__balance {
    margin-top: 4px;
    color: blue;
    font-size: 15px;
    line-height: 22px;
  }
}
.header__bottom {
  height: 80px;
  justify-content: space-between;
  align-items: center;
  &-item {
    position: relative;
    & + .header__bottom-item {
      margin-left: 29px;
    }
    &:hover .header__dropdown {
      display: block;
    }
    &:hover .pages-dropdown {
      display: flex;
    }
  }
  &-link {
    padding: 32.5px 0;
    font-size: 15px;
    font-weight: 500;
    color: #333;
    text-transform: uppercase;
    &:hover {
      color: $blue;
      text-decoration: none;
    }
    &:focus {
      color: $blue;
      text-decoration: none;
    }
    &:active {
      color: $blue;
      text-decoration: none;
    }
  }
  &-search {
    position: relative;
    z-index: 0;
    &_area {
      position: relative;
      z-index: 0;
      max-width: 360px;
      width: 100%;
      height: 46px;
      padding: 0 75px 4px 24px;
      font-size: 15px;
      border: 1px solid #d9dfe5;
      border-radius: 30px;
      outline: transparent;
      &:hover {
        border: 1px solid $blue;
      }
      &:focus {
        border: 1px solid $blue;
      }
    }
    &_button {
      position: absolute;
      right: 0;
      width: 70px;
      height: 100%;
      font-size: 15px;
      z-index: 0;
    }
  }
}
.menu-burger {
  display: none;
  width: 80px;
  height: 80px;
  text-align: center;
  background-color: #fff;
  .menu-burger__icon {
    line-height: 80px;
    font-size: 30px;
    color: #000;
  }
  &__cross {
    display: none;
  }
}
.header__dropdown {
  display: none;
  position: absolute;
  z-index: 50;
  top: 49px;
  min-width: 270px;
  padding: 21px 20px 20px 20px;
  background-color: #fff;
  border-top: 1px solid $blue;
  border-radius: 0px 0px 2px 2px;
  box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
  &-link {
    display: block;
    padding: 10px;
    font-size: 15px;
    color: #54667a;
    text-transform: capitalize;
    border-radius: 2px;
    &:hover {
      background-color: $blue;
      color: #fff;
      text-decoration: none;
    }
    &:focus {
      background-color: $blue;
      color: #fff;
      text-decoration: none;
    }
  }
  &-icon {
    padding-right: 15px;
  }
}
.envelope-dropdown {
  width: 370px;
  padding: 0;
  &__heading {
    height: 65px;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    &-title {
      font-size: 18px;
    }
    &-link {
      font-size: 15px;
      color: $blue;
    }
  }
  &__massage {
    border-top: 1px solid #e8ebf0;
    padding: 20px 25px 20px 25px;
    &-avatar {
      min-width: 40px;
      min-height: 40px;
      border-radius: 50%;
      margin-right: 10px;
    }
    &-inner {
      flex-direction: column;
      justify-content: space-between;
      position: relative;
      width: 100%;
    }
    &-name {
      color: #333;
    }
    &-time {
      position: absolute;
      right: 0;
      top: 0;
      color: $blue;
      font-size: 14px;
    }
    &-text {
      width: 200px;
      font-size: 15px;
      color: $text;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    &-state {
      margin-left: 3px;
      font-size: 15px;
      background-color: #fff;
      border: none;
    }
    &-unread {
      color: $blue;
    }
    &-reply {
      display: inline-block;
      width: 16px;
      height: 12px;
      background-image: url(../img/reply.png);
      
    }
    .long {
      color: #555;
    }
  }
}
.notifications-dropdown {
  width: 370px;
  padding: 0;
  &__notification {
    border-top: 1px solid #e8ebf0;
    height: 99px;
    align-items: center;
    margin: 0 25px;
    &-avatar {
      min-width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-right: 13px;
    }
    &-inner {
      height: 100%;
      flex-direction: column;
      justify-content: space-between;
      padding: 20px 0;
    }
    &-name {
      max-height: 16px;
      font-size: 16px;
      color: #333;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    &-state {
      font-size: 15px;
      color: #747a86;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    &-link {
      font-size: 15px;
      color: $blue;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    &-time {
      font-size: 14px;
      color: #747a86;
    }
    &-icon {
      min-width: 32px;
      height: 32px;
      justify-content: center;
      align-items: center;
      margin-left: 10px;
      border-radius: 50%;
      &:hover {
        transform: scale(1.2);
        text-decoration: none;
      }
    }
  }
  .notification-icon__blue {
    background-color: #e6f1fd;
    .notification-icon__heart {
      color: $blue;
    }
  }
  .notification-icon__purple {
    background-color: #f1ecf9;
    .notification-icon__bubble {
      color: #7347c1;
    }
  }
  .notification-icon__red {
    background-color: #fff0f0;
    .notification-icon__cart {
      color: #ff6a6c;
    }
  }
  .notification-icon__green {
    background-color: #effaeb;
    .notification-icon__star {
      color: #62d03a;
    }
  }
}
.cart-dropdown {
  padding: 0;
  width: 400px;
  min-height: 60px;
  &__item {
    width: 100%;
    height: 122px;
    padding: 26px 24px;
    align-items: center;
    border-bottom: 1px solid #e8ebf0;
  }
  &__avatar {
    width: 80px;
    height: 70px;
    object-fit: cover;
  }
  &__box {
    flex-direction: column;
    justify-content: space-between;
    &-name {
      height: 34px;
      font-size: 16px;
      font-weight: 500;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &-category {
      font-size: 15px;
      color: #7347c1;
      margin-bottom: 0;
      &-img {
        display: inline-block;
        width: 15px;
        height: 15px;
        margin-bottom: -3px;
      }
    }
  }
  &__buttons {
    flex-direction: column;
    align-items: center;
    width: 50px;
    &-delete {
      width: 32px;
      height: 32px;
      margin-bottom: 10px;
      border-radius: 50%;
      color: #818c98;
      background-color: #f1ecf9;
      border: none;
      &:hover {
        color: #fff;
        background-color: $blue;
      }
    }
    &-price {
      width: 50px;
      height: 30px;
      font-size: 16px;
      color: $blue;
      font-weight: 500;
      background-color: #e6f1fd;
      border-radius: 20px;
      border: none;
      box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.4);
      &:hover {
        color: #fff;
        background-color: $blue;
      }
    }
  }
  &__counter {
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    &-total {
      margin-left: 20px;
    }
    &-wrapper {
      width: 100%;
      padding: 0 25px;
      height: 70px;
      align-items: center;
      justify-content: flex-end;
    }
  }
  &__link {
    height: 60px;
    width: 50%;
    color: #fff;
    font-size: 15px;
    padding: 22px 0;
    text-align: center;
    &-wrapper {
      height: 60px;
    }
    &-cart {
      border: 1px solid #7347c1;
      background-color: #7347c1;
      &:hover {
        color: #7347c1;
        background-color: #fff;
        text-decoration: none;
      }
    }
    &-checkout {
      background-color: $blue;
      border: 1px solid $blue;
      &:hover {
        color: $blue;
        background-color: #fff;
        text-decoration: none;
      }
    }
  }
  
}
.pages-dropdown {
  display: none;
  max-width: 1140px;
  max-height: 700px;
  position: absolute;
  z-index: 50;
  top: 49px;
  left: -450px;
  background-color: #fff;
  border-top: 1px solid $blue;
  border-radius: 0px 0px 2px 2px;
  box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
  &__wrapper {
    margin: 33px 12.5px 33px 12.5px;
    min-width: 205px;
  }
  &__inner {
    display: flex;
  }
  &__heading {
    display: block;
    width: 100%;
    color: #000;
    font-weight: 500;
    padding: 0 0 20px 0;
    margin-bottom: 16px;
    border-bottom: 1px solid #e8ebf0;
  }
  &__list {
    min-width: 205px;
    display: inline-block;
    &__item {
      
      &-link {
        display: block;
        width: 205px;
        padding: 16px 12.5px;
        font-size: 15px;
        color: #54667a;
        &:hover {
          color: #fff;
          background-color: $blue;
          text-decoration: none;
          border-radius: 4px;
        }
      }
    }
  }
  
}
@media (max-width: 900px) {
  .header__inner {
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    .header__logo {
      margin: 0;
      .logo {
        object-fit: cover;
        width: 150px;
        margin-top: 15px;
      }
    }
    .header__seller {
      display: none;
    }
    .notifications-dropdown {
      width: 297px;
      left: -7px;
      padding: 10px 5px 10px 5px;
      &__notification {
        margin: 0;
        &-inner {
          width: 180px;
        } 
      }
      &::after {
        right: 235px !important;
      }
    }
    .envelope-dropdown {
      width: 294px;
      left: -45.5px;
      &__massage {
        padding: 10px 5px 10px 5px;
      }
      &::after {
        right: 190px !important;
      }
    }
    .cart-dropdown {
      width: 297px;
      left: -90px;
      &::after {
        right: 147px !important;
      }
    }
  }
  .navigation {
    margin-left: -15px;
    .menu-burger {
      display: block !important;
    }
    .header__bottom-list {
      display: none;
      position: absolute;
      z-index: 50;
      top: 80px;
      left: 0;
      flex-direction: column;
      background-color: #fff;
      border: 2px solid #000;
      .header__bottom-item {
        display: flex;
        min-width: 316px;
        width: 100%;
        margin: 0;
        .header__bottom-link {
          height: 100%;
          width: 100%;
          padding: 0;
        }
      }
    }
    &:hover {
      position: relative;
      .menu-burger__menu {
        display: none;
      }
      .menu-burger__cross {
        display: block;
      }
      .header__bottom-list {
        display: flex;
        text-align: center;
        min-width: 100%;
      }
    }
    .header__bottom-item {
      width: 100%;
      border-bottom: 1px solid #000;
      .header__bottom-link {
        margin: 10px 0;
      }
      &:hover {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .header__dropdown {
          position: relative;
          width: 100%;
          top: 0;
        }
        .pages-dropdown {
          flex-direction: column;
          top: 0;
          left: 0;
          min-width: 100%;
          min-height: 100%;
          .pages-dropdown__wrapper {
            min-width: 100%;
          }
          .pages-dropdown__inner {
            min-width: 100%;
            align-items: center;
            flex-direction: column;
            background-color: #fff;
          }
        }
      }
    }
  }
}
// Header end
// Search Product start
.search-product {
  &__inner {
    background-image: linear-gradient( 180deg, rgba(0,48,222,0.8) 0%, rgba(23,69,237,0.8) 54%, rgba(46,90,251,0.8) 100%);
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 80px 0;
  }
  &__title {
    margin: 0;
    text-transform: capitalize;
    color: #f3f3f8;
    font-size: 40px;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    line-height: 1.5;
    &-bold {
      display: block;
      font-weight: 700;
      color: #f3f3f8;
      font-size: 40px;
      text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    }
  }
  &__text {
    font-weight: 500;
    color: #f3f3f8;
    font-size: 16px;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    line-height: 1.5;
  }
  &__button {
    display: inline-block;
    height: 56px;
    text-transform: capitalize;
    font-size: 16px;
    padding: 0 27px;
    margin: 10px 13px;
    background-color: transparent;
    border-color: #fff;
  }
  &__container {
    position: relative;
  }
  .big-search {
    position: relative;
    max-width: 806px;
    width: 100%;
    &__wrapper {
      position: absolute;
      display: flex;
      flex-direction: column;
      max-width: 1170px;
      width: 100%;
      height: 165px;
      bottom: -200px;
      padding: 20px;
      margin-left: -15px;
      z-index: 2;
      background-color: #fff;
      border-radius: 6px;
      box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
    }
		&__search-field {
      max-width: 806px;
      width: 100%;
      height: 55px;
      padding: 0 120px 0 27px;
      border: 1px solid  rgb(220, 220, 220);
      border-radius: 4px;
      outline: transparent;
    }
		&__select {
      position: absolute;
      right: -1px;
      top: 0;
      width: 110px;
      height: 55px;
      padding: 0 5px;
      border: 1px solid  rgb(220, 220, 220);
      border-radius:0 4px 4px 0;
      outline: transparent;
      font-size: 12px;
		}
		&__button {
      width: 100%;
      height: 55px;
      margin-left: 0px;
      margin-top: 20px;
      padding: 0;
      border-radius: 4px;
      background-color: $blue;
      border: 1px solid $blue;
      color: #fff;
      &:hover {
        color: $blue;
        background-color: #fff;
      }
    }
  }
}
@media (min-width: 500px) {
  .search-product {
    &__inner {
      padding: 175px 0 224px;
    }
		&__title {
      font-size: 60px;
      line-height: 1;
		}
		&__title-bold {
      font-size: 60px;
      margin-top: 10px;
      margin-bottom: 35px;
    }
		&__text {
      font-size: 20px;
      margin: 0 0 55px 0;
    }
    &__container {
      &::before {
        content: '';
        position: absolute;
        bottom: -277px;
        left: 0;
        margin: 0 2.55%;
        max-width: 94.9%;
        height: 135px;
        width: 100%;
        opacity: 0.5;
        background-color: #fff;
        border-radius: 6px;
      }
      &::after {
        content: '';
        position: absolute;
        bottom: -264px;
        left: 0;
        margin: 0 3.825%;
        max-width: 92.35%;
        height: 135px;
        width: 100%;
        opacity: 0.5;
        background-color: #fff;
        border-radius: 6px;
      }
    }
    .big-search {
      &__wrapper {
        flex-direction: row;
        height: 135px;
        bottom: -290px;
        padding: 40px;
      }
      &__search-field {
        padding: 0 200px 0 27px;
      }
      &__select {
        width: 195px;
        font-size: 16px;
        padding: 0 16px;
      }
      &__button {
        width: 223px;
        margin-top: 0;
        margin-left: 31px;
      }
    }
  }
}
@media (min-width: 1170px) {
  .search-product__inner .big-search__wrapper {
    max-width: 1140px;
    margin-left: 0;
  }
}
// Search Product end
// Features start
.features {
  margin: 186px 0 50px 0;
  &-inner {
    flex-direction: column;
    align-items: center;
  }
  &-item {
    height: 403px;
    max-width: 361px;
    width: 100%;
    padding: 41px 21px 51px 22px;
    border-radius: 4px;
    text-align: center;
		&__image {
      width: 112px;
      height: 120px;
      margin: 0 auto;
      background-repeat: no-repeat;
      background-position: center;
    }
		&__title {
      max-width: 250px;
      margin: 31px auto 0;
      font-size: 24px;
      color: #010101;
		}
		&__content {
      line-height: 1.875;
      margin: 20px 0 0;
    }
    &:hover {
      box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    }
  }
}
@media (min-width: 700px) {
  .features {
    margin: 186px 0 121px 0;
    &-inner {
      flex-direction: row;
      justify-content: space-between;
    }
  }
}
// Features end
// Weekly start
.section-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  min-height: 110px;
  padding: 15px 30px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  &__heading {
    font-size: 30px;
    color: #000;
    margin: 0 0 15px 0;
  }
  &__button {
    width: 55px;
    height: 45px;
    margin: 0;
    font-size: 14px;
    color: #fff;
    background-color: #7347c1;
    border: 1px solid #7347c1;
    &:hover {
      color: #7347c1;
      background-color: #fff;
    }
    &-prev {
      border-radius: 25px 0 0 25px;
    }
    &-next {
      border-radius: 0 25px 25px 0;
    }
  }
}
.weekly {
  padding-top: 50px;
  background-color: #eff1f5;
  padding-bottom: 50px;
  &-slider {
    margin-top: 50px;
  }
}
.card {
  display: flex;
  flex-direction: column;
  max-width: 361px;
  width: 100%;
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  &-img {
    height: 230px;
    position: relative;
    &:hover .card-img__hover {
      display: flex;
    }
		&__picture {
      object-fit: cover;
      width: 100%;
      height: 100%;
      border-radius: 4px 4px 0 0;
		}
		&__hover {
      display: none;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0.9;
      background-image: linear-gradient(270deg, rgb(6,116,236) 0%, rgb(61,94,215) 46%, rgb(115,71,193) 100%);
      border-radius: 4px 4px 0 0;
      &-link {
        display: block;
        min-width: 130px;
        height: 45px;
        margin: 0 5.5px;
        padding: 0 10px;
        color: #fff;
        font-size: 15px;
        line-height: 45px;
        font-weight: 500;
        background-color: transparent;
        border: 1px solid #fff;
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
        border-radius: 30px;
        text-align: center;
        transition: all 0.1s linear;
        &:hover {
          background-color: #fff;
          color: $blue;
          text-decoration: none;
        }
      }
		}
  }
  &-content {
    padding: 16px 20px 18px 20px;
    background-color: #fff;
    &__heading {
      font-size: 20px;
      color: #000;
      margin: 0 0 17px -2px;
      font-weight: 500;
    }
    &__inner {
      display: flex;
      align-items: center;
    }
    &__user {
      &-img {
        width: 28px;
        height: 28px;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
      }
      &-name {
        margin: 0 0 3px 7px;
      }
    }
    &__categories {
      margin: 0 0 0 7px;
      &-img {
        width: 16px;
        height: 16px;
        margin: 0 0 0 13px;
      }
    }
    &__text {
      margin: 15px 0 0 0;
      line-height: 30px;
    }
  }
  &-bottom {
    display: flex;
    align-items: center;
    height: 62px;
    background-color: #fff;
    border-top: 1px solid #ececec;
    border-radius: 0 0 4px 4px;
    &__price {
      order: 1;
      min-width: 60px;
      height: 30px;
      margin-left: 30px;
      padding: 5px 1px;
      font-size: 14px;
      text-align: center;
      background-color: #e6f1fd;
      border-color: #e6f1fd;
      color: $blue;
      &:hover {
        text-decoration: none;
        box-shadow: none;
        background-color: $blue;
        color: #fff;
      }
    }
    &__like {
      order: 2;
      margin-left: 5px;
      margin-bottom: 2px;
      padding: 6px 10px;
      font-size: 15px;
      color: #6f7d8d;
      background-color: #fff;
      border: none;
      border-radius: 25px;
      &::before {
        font-size: 15px;
        color: #7f4ec2;
        margin-right: 6px;
      }
      &:hover {
        background-color: $blue;
        color: #fff;
        &::before {
          color: #fff;
        }
      }
    }
    &__rating {
      order: 3;
      margin-left: 3px;
    }
    &__purchase {
      order: 4;
      margin: 0 31px 1px auto;
      &::before {
        font-size: 15px;
        color: $blue;
        margin-right: 10px;
      }
    }
  }
}
.categories {
  &__category {
    margin-top: 35px;
    margin-right: 4px;
    padding: 5px 14px;
    color: #868c96;
    font-size: 15px;
    background-color: #f1f3f6;
    border: 1px solid #f1f3f6;
    border-radius: 25px;
    &:hover {
      background-color: $blue;
      color: #fff;
    }
  }
}
@media (min-width: 700px) {
  .section-title {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    &__heading {
      margin: 0;
    }
  }
  .weekly {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .card {
    &-content {
      padding: 26px 30px 28px 30px;
      &__text {
        margin: 25px 0 0 0;
      }
    }
  }
  .weekly-slider {
    .card {
      display: flex !important;
      height: 450px;
      min-width: 100%;
      flex-wrap: wrap;
      &-img {
        height: 100%;
        width: 48.7%;
        &__picture {
          border-radius: 4px 0 0 4px;
        }
        &__hover {
          border-radius: 4px 0 0 4px;
        }
      }
      &-content {
        width: 51.3%;
        height: 100%;
        max-height: 370px;
        border-radius: 0 4px 0 0;
        padding: 46px 50px 50px 50px;
        &__heading {
          font-size: 24px;
        }
        &__user-name {
          font-size: 15px;
          color: #000;
          margin-left: 10px;
        }
        &__categories-img {
          margin-left: 20px;
        }
      }
      &-bottom {
        width: 51.3%;
        max-width: 585px;
        height: 80px;
        border-radius: 0 0 4px 0;
        border-left: 50px solid #fff;
        border-right: 50px solid #fff;
        &__price {
          margin-left: 1px;
          margin-top: -1px;
          padding: 8px 20.5px;
          height: 34px;
        }
        &__like {
          margin-left: 8px;
          &::before {
            margin-right: 10px;
          }
        }
        &__rating {
          order: 4;
          margin-left: auto;
        }
        &__purchase {
          order: 3;
          margin-left: 13px;
        }
      }
    }
  }
  .weekly .slick-slide {
    display: block !important;
  }
}
@media (min-width: 390px) {
  .slick-slide {
    display: flex !important;
    justify-content: center;
  }
}
// Weekly end
// New-products start
.new-products {
  background-color: #f6f7fb;
  .categories {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    min-height: 92px;
    margin-top: 30px;
    margin-bottom: 0px;
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 1px 2px 0px rgba(90, 93, 100, 0.1);
    &__category {
      margin: 5px 10px;
    }
  }
  &__inner {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: -28px;
    max-height: 1090px;
    overflow: hidden;
  }
  .card {
    margin-top: 31px;
    margin-left: 28px;
  }
  .new-products__btn {
    display: block;
    min-height: 55px;
    min-width: 190px;
    margin: 29px auto 0px;
  }
}
@media (min-width: 700px) {
  .new-products {
    padding: 120px 0 120px 0;
    justify-content: start;
    .categories {
      margin-bottom: 20px;
    }
  }
  .new-products__inner {
    max-height: 1150px;
  }
}
// New-products end
// Followers start
.followers {
  background-color: #eff1f5;
  padding: 120px 0;
  .section-title {
    margin-bottom: 51px;
  }
}
@media (max-width: 700px) {
  .followers {
    padding: 20px 0 50px;
  }
}
// Followers end
// Fact start
.fact {
  background-color: #212225;
  padding: 93px 0 26px;
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__picture {
    font-size: 48px;
    margin: 0 auto 40px;
  }
  &__counter {
    font-size: 36px;
    margin-bottom: 12px;
  }
  &__text {
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 70px;
  }
}
@media (min-width: 700px) {
  .fact {
    &__wrapper {
      flex-direction: row;
    }
  }
}
// Fact end
// Advantage start
.second-title {
  text-align: center;
  margin: 55px auto 0;
  max-width: 670px;
  font-size: 36px;
  color: #000;
  &__span {
    font-size: 36px;
    color: $blue;
  }
  &__text {
    color: $text;
    line-height: 30px;
    margin-top: 19px;
    margin-bottom: 24px;
  }
}
.advantage {
  &-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: -30px;
    padding-bottom: 30px;
    counter-reset: advantage-card;
  }
  &-card {
    max-width: 360px;
    max-height: 373px;
    margin-top: 30px;
    height: 100%;
    padding: 50px 30px 40px;
    text-align: center;
    margin-left: 30px;
    border-radius: 4px;
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    position: relative;
    &::after {
      content: "0" counter(advantage-card);
      counter-increment: advantage-card;
      position: absolute;
      top: 32px;
      left: 17px;
      color: rgba(92, 135, 248, 0.2);
      font-size: 48px;
      line-height: 0.15;
    }
    &__picture {
      font-size: 60px;
    }
    &__title {
      font-size: 24px;
      margin-top: 42px;
      margin-bottom: 21px;
    }
    &__text {
      font-size: 16px;
      line-height: 30px;
      color: $text;
    }
  }
}
@media (min-width: 700px) {
  .second-title {
    margin: 115px auto 0;
  }
  .advantage {
    &-wrapper {
      padding-bottom: 120px;
    }
  }
}

// Advantage end
// Sell-buy start
.sell-buy {
  text-align: center;
  padding: 50px 15px 0;
  height: 561px;
  &__wrapper {
    display: flex;
    flex-direction: column;
  }
  &__img {
    margin: 0 auto;
  }
  &__title {
    margin: 44px 0 0 0;
    font-size: 36px;
    color: #fff;
  }
  &__text {
    margin: 18px auto 42px;
    font-size: 16px;
    line-height: 30px;
    color: #fff;
    max-width: 580px;
  }
  &__button {
    display: inline-block;
    min-width: 190px;
    height: 55px;
    padding: 16px 10px;
    background-color: #fff;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    border-radius: 30px;
    border: 1px solid #fff;
    &:hover {
      color: #fff !important;
      text-decoration: none;
      background-color: transparent;
    }
  }
}
.sell {
  background-color: $blue;
  .sell-buy__img {
    width: 120px;
    height: 100px;
  }
  .sell-buy__button {
    color: $blue;
  }
}
.buy {
  background-color: $purple;
  .sell-buy__img {
    width: 100px;
    height: 100px;
  }
  .sell-buy__button {
    color: $purple;
  }
}
@media (min-width: 700px) {
  .sell-buy {
    width: 500%;
    padding-top: 100px;
    &__wrapper {
      flex-direction: row;
    }
  }
}
// Sell-buy end
// Clients start
.clients {
  padding-bottom: 40px;
  &-slider {
    margin-top: 54px;
    margin-bottom: 40px;
    &__wrapper {
      position: relative;
    }
    &__card {
      position: relative;
      max-width: 555px;
      min-height: 315px;
      padding: 30px 23px 30px 28px;
      border-left: 2px solid $blue;
      border-radius: 0px 4px 4px 0px;
      box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
      &-text {
        font-size: 16px;
        line-height: 30px;
      }
      &-bubble {
        display: none;
      }
    }
    &__user {
      &-img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 19px;
        margin-bottom: 5px;
      }
      &-name {
        display: block;
        font-size: 20px;
        color: #000;
        margin: 11px 0 12px 0;
      }
    }
  }
  &-button {
    display: block;
    width: 190px;
    height: 55px;
    padding: 18px 10px;
    margin: 0 auto;
  }
  &-arrow {
    display: none;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 15px 0px rgba(67, 67, 67, 0.15);
    position: absolute;
    width: 50px;
    height: 50px;
    padding-left: 17px;
    padding-top: 15px;
    &::before {
      font-size: 14px;
      color: $blue;
    }
    &__prev {
      left: -25px;
      top: 132px;
    }
    &__next {
      right: -25px;
      top: 132px;
    }
  }
}
@media (min-width: 769px) {
  .clients {
    padding-bottom: 120px;
    &-slider {
      margin-bottom: 58px;
      &__card {
        padding: 50px 43px 30px 38px;
        &-bubble {
          position: absolute;
          top: 50px;
          right: 40px;
          font-size: 60px;
          color: #e8e8e8;
        }
      }
    }
    &-arrow {
      display: inline-block;
    }
  }
}
// Clients end
// News start
.news {
  background-color: #eff1f5;
  padding-top: 30px;
  .second-title {
    margin-top: 0;
  }
  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 34px;
    margin-left: -28px;
    padding-bottom: 117px;
    .card {
      margin-top: 20px;
      margin-left: 28px;
      &-content {
        padding-bottom: 22px;
      }
      &-bottom {
        padding: 10px 0 8px;
        &__date {
          height: 100%;
          width: 50.3%;
          padding-top: 9px;
          padding-left: 20px;
          border-right: 1px solid #ececec;
          &::before {
            padding-right: 8px;
          }
        }
        &__comments {
          height: 100%;
          padding-top: 10px;
          padding-left: 34px;
          &::before {
            padding-right: 7px;
          }
        }
        &__views {
          height: 100%;
          padding-top: 10px;
          padding-left: 31px;
          &::before {
            padding-right: 7px;
          }
        }
      }
    }
  }
}
@media (min-width: 700px) {
  .news {
    padding-top: 115px;
  }
  
  .card-bottom {
    &__date {
      &::before {
        padding-left: 10px;
      }
    }
  }
}
// News end
// Support start
.guarantee {

  &__inner {
    display: flex;
    flex-direction: column;
  }
  &__item {
    width: 100%;
    height: 297px;
    padding: 60px 10px 0 10px;
    text-align: center;
    &-img {
      margin: 0 auto;
    }
    &-heading {
      margin-top: 28px;
      font-size: 24px;
      color: #000;
      &-span {
        font-size: 24px;
        color: $blue;
      }
    }
  }
  &__money {
    .guarantee__item-img {
      width: 150px;
      height: 120px;
    }
  }
  &__support {
    .guarantee__item-img {
      width: 155px;
      height: 117px;
    }
    .guarantee__item-heading {
      margin-top: 33px;
    }
    .guarantee__item-heading-span {
      color: $purple;
    }
  }
}
@media (min-width: 700px) {
  .guarantee {
    &__inner {
      flex-direction: row;
    }
    &__money {
      border-right: 1px solid #e8eaf3;
    }
  }
}
// Support end
// Join start
.join {
  &__inner {
    height: 400px;
    text-align: center;
    background-image: linear-gradient( 270deg, rgb(13,62,242) 0%, rgb(64,48,201) 46%, rgb(114,33,160) 100%);
  
  }
  &__heading {
    font-size: 36px;
    color: #fff;
    padding-top: 104px;
    margin: 0;
  }
  &__text {
    font-size: 18px;
    color: #fff;
    margin-top: 20px;
  }
  &__button {
    display: block;
    margin: 50px auto 0;
    width: 190px;
    height: 55px;
    color: $blue;
    font-size: 16px;
    background-color: #fff;
    padding: 16px 10px 0;
    &:hover {
      background-color: $blue;
      color: #fff;
    }
  }
}
// Join end
// Footer start

.footer-top {
  min-height: 525px;
  background-color: rgb(38, 43, 48);
  &__wrapper {
    display: flex;
    padding-top: 115px;
    padding-bottom: 30px;
  }
  &__contacts {
    max-width: 268px;
    width: 100%;
    .contacts {
      &__logo {
        display: block;
        width: 162px;
        height: 40px;
      }
      &__text {
        margin: 26px 0 18px -1px;
        font-size: 15px;
        color: #ababab;
        line-height: 28px;
      }
      &__link {
        display: flex;
        align-items: center;
        font-size: 15px;
        color: #ababab;
        line-height: 26px;
        margin-top: 9px;
      }
      &__icon {
        padding-right: 13px;
        font-size: 16px;
        color: #fff;
      }
    }
  }
  &__company {
    max-width: 246px;
    width: 100%;
    margin-left: 71px;
  }
  &__help {
    max-width: 196px;
    width: 100%;
  }
  .footer {
    &-list {
      display: flex;
      flex-direction: column;
    }
    &-heading {
      line-height: 42px;
      font-size: 18px;
      color: #fff;
      margin-top: 5px;
      margin-bottom: 15px;
    }
    &-links {
      font-size: 15px;
      color: #ababab;
      line-height: 32px;
    }
  }
  &__newsletter {
    max-width: 358px;
    width: 100%;
    padding-top: 5px;
    .newsletter {
      &__heading {
        margin-left: -2px;
        font-size: 18px;
        color: #fff;
        line-height: 42px;
      }
      &__text {
        margin-top: 19px;
        margin-bottom: 0;
        font-size: 15px;
        color: #ababab;
        line-height: 28px;
      }
      &__form {
          margin-top: 29px;
          max-width: 360px;
          height: 50px;
          position: relative;
        &-field {
          width: 100%;
          height: 100%;
          padding: 0 120px 0 29px;
          border-radius: 25px;
          border: none;
          outline: transparent;
        }
        &-button {
          background-color: rgb(6, 116, 236);
          color: #fff;
          position: absolute;
          top: 0;
          right: 0;
          width: 110px;
          height: 50px;
          font-size: 15px;
          border-radius: 25px;
          border: 1px solid $blue;
        }
      }
      &__sprite {
        display: flex;
        margin-top: 48px;
        &-link + .newsletter__sprite-link {
          margin-left: 13px;
        }
        &-link {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 42px;
          height: 42px;
          border-radius: 50%;
          color: #fff;
          &:hover {
            text-decoration: none;
          }
        }
        .facebook {
          background-color: #395799;
        }
        .twitter {
          background-color: #19b2f5;
        }
        .google {
          background-color: #f05b44;
        }
        .pinterest {
          background-color: #9c0c1c;
        }
        .linkedin2 {
          background-color: #0da6be;
        }
        .dribbble {
          background-color: #ea4c89;
        }    
      }
    }
  }
}
.footer-bottom {
  &__wrapper {
    min-height: 94px;
    text-align: center;
    background-color: #192027;
    padding: 36px 0;
  }
  &__text {
    margin: 0;
    color: #999999;
    font-size: 15px;
    &-span {
      color: #fff;
    }
  }
}
@media (max-width: 950px) {
  .footer-top {
    &__wrapper {
      flex-wrap: wrap;
      justify-content: center;
      padding-top: 30px;
    }
  }
}
@media (max-width: 950px) {
  .footer-top {
    &__company {
      margin-left: 0;
      text-align: center;
      
    }
    &__help {
      text-align: center;
    } 
  }
}
// Footer end